{% extends 'pages/default_page.html' %}
{% load breadcrumb %}
{% block content_container %}
    <div class="container scrollable-container">
        <br>
        {% breadcrumb %}
        {% include 'widgets/heading1.html' with text=subpage.title %}
        {% block content %}
            <form class="confirm-data" method="POST">
                {% csrf_token %}
                <p>This agreement relates to the ISIMIP model simulations for the simulation round {{simulation_round}} for the model {{ impact_model_name }}. Data that have already passed the basic format check are now visible to all ISIMIP participants, in the relevant directory on the DKRZ server:</p>

                <p>/work/bb0820/ISIMIP/{{simulation_round}}/OutputData/{{ sector_drkz_folder_name|default:sector }}/{{ model_drkz_folder_name|default:impact_model_name }}/…</p>

                <p>The data cover the following experiments:</p>

                <p>{{ custom_text|linebreaksbr|urlize }}</p>
                <p>Your data are now ready to be transferred to the <a href="https://data.isimip.org/" target="_blank">ISIMIP repository</a>, where they will be accessible to users beyond the community of ISIMIP modelling groups. Only data that has passed our format checks will be published. The conditions by which the data can be used are described in the <a href="https://www.isimip.org/gettingstarted/terms-of-use/" target="_blank">ISIMIP terms of use</a>.</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="terms" required> The uploaded simulation data for {{ simulation_round }} for {{ impact_model_name }}, and any further simulation data for the same model and simulation round can be published in the ISIMIP repository.
                    </label>
                </div>
                <p>Please select the appropriate date for data publication:
                    <div class="radio">
                        <label>
                            <input type="radio" name="publication_date" value="as_soon_as_possible" required> as soon as possible
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="publication_date" value="not_before_date" required> not before date: <input name="publication_date_date" type="date" min="{{ publication_date_min|date:"Y-m-d" }}" max="{{ publication_date_max|date:"Y-m-d" }}">
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="publication_date" value="one_year_after_dkrz" required> one year after submission to DKRZ at latest
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="publication_date" value="notify_isimip" required> the modeling group will notify the ISIMIP data team by email of the end of the emarbo period. (not later than one year after data submission)
                        </label>
                    </div>
                </p>
                
                <p>Please select the appropriate license from the list, or specify another one if needed. The same license will be used for all data from your model in {{ simulation_round }}. Please read about our license recommendations and other important technical and legal issues concerning licenses in <a href="https://www.isimip.org/gettingstarted/terms-of-use/licenses-publicly-available-isimip-data/" target="_blank">here</a>.</p>
                <div class="radio">
                    <label>
                        <input type="radio" name="license" value="CC0" required> CC0 (strongly recommended)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="license" value="CC BY 4.0" required> CC BY 4.0
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="license" value="other" required> Other: <input name="other_license_name" type="text">
                    </label>
                </div>
                
                </p>

                <p>Before confirming the publication, you are responsible for ensuring that the description and details of <a href="{{ impact_model_url }}" target="_blank">your model in the ISIMIP impact model database</a> is complete. This step is of particular importance to ensure that simulation data from your model is correctly interpreted. A snapshot of the database entry for your model will be stored along with the record of this confirmation.</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="correct"> The <a href="{{ impact_model_url }}" target="_blank">ISIMIP impact model database</a> entry is correct and complete.
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Send email confirmation of data publication</button>
            </form>
        {% endblock %}
    </div>
{% endblock %}
