{% extends 'climatemodels/edit_base.html' %}
{% load template_form %}
{% block form_content %}
	{% template_form form as nf %}
	<fieldset>
		{% include 'widgets/heading3.html' with text='Model reference' %}
		{% include 'widgets/richtext-content.html' with content='This information is specific to each simulation round.' %}
		<div class="form-group">
			<label class="control-label requiredField">Person responsible for model simulations in this simulation round</label>
			<p class="help-block">
				Please note, you can only update your personal contact information by <a href="/dashboard/update-contact-information/">editing your user profile</a> in the dashboard. If you want to add a new responsible person for this simulation round please <a href="mailto:info@isimip.org">write to us</a>.
			</p>
			{% for contact_person in contact_persons %}
			<dl class="dl-horizontal">
				<dt>Name</dt>
				<dd>{{contact_person.name}}</dd>
				<dt>Email</dt>
				<dd>{{contact_person.email}}</dd>
				<dt>ORCID iD</dt>
				<dd>{{contact_person.orcid_id}}</dd>
				<dt>Institute</dt>
				<dd>{{contact_person.institute}}</dd>
				<dt>Institute ROR ID</dt>
				<dd>{{contact_person.ror_id}}</dd>
				<dt>Country</dt>
				<dd>{{contact_person.country}}</dd>
			</dl>
			{% endfor %}
		</div>
		{{ nf.additional_persons_involved }}
		{{ nf.version }}
		{{ nf.model_url }}
		{{ nf.model_license }}
		{{ nf.model_output_license }}
		{{ nf.simulation_round_specific_description }}
		{{ nf.main_reference_paper }}
		{{ nf.other_references }}
	</fieldset>
{% endblock %}
{% block form_action %}
<div class="form-actions">
	<input type="submit" name="submit-button" value="Save and edit resolution" class="btn btn-primary">
</div>
{% endblock %}
